
body {
    background-image: url("../assets/haghome.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.whiteColorText {
    color: white;
    background-color: black;
    font-size: 2.4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.textBox {
    width: 85rem;
}

.centerDisplay {
    display: flex;
    justify-content: center;
}

.flexDisplay {
    display: flex
}

.iconHeight {
    height: 18rem;
}

.evenly {
    justify-content: space-around;
}

#tagPadding {
    padding-top: 1rem;
}

.textboxPadding {
    padding-top: 7rem;
}

.btnSize {
    width: 15rem;
    height: 3rem;
    font-size: 2.4rem;
}